<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sample</title>
</head>
<body>
<h1>Patient Test Input</h1>
<div class="container justify-content-center position-relative m-5">
<form>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="patient_id">Patient_id</label>
            <input type="text" class="form-control" id="patient_id" placeholder="Id Of Patient" name="patient_id">
        </div>
        <div class="form-group col-md-5">
            <label for="test_num">test(number)</label>
            <input type="text" class="form-control" id="test_num" placeholder="Id of Test" name="test_num">
        </div>
        <div class="form-group col-md-5">
            <label for="employee_id">Employee(id)</label>
            <input type="text" class="form-control" id="employee_id" placeholder="Id Of Employee" name="employee_id">
        </div>
        <div class="form-group col-md-5">
            <label for="result_value">Result Value</label>
            <input type="text" class="form-control" id="result_value" placeholder="True or False, 12, ..." name="result_value">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>